/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body, h1 { margin: 0; padding: 0; }

.bgPonte .container {
    width: 990px;
    margin: 0 auto 0 auto;
}


.logo {
    background: url('../images/logo.png') no-repeat;
    height: 249px;
    width: 283px;
    text-indent: -99999px;
    display: inline-block;
    margin: 0 0 0 354px;
    float: left;
}
.bgPonte {
    background: url('../images/bg.jpg') no-repeat center;
    height: 903px;
    padding: 45px 0 0 0;
}

.share {
    float: left;
    width: 352px;
}

.navsite {
    margin: 27px 0 0 0;
    width: 351px;
    display: block;
    float: left;
    text-align: right;
}

.navsite a {
    display: block;
    text-transform: uppercase;
    text-align: right;
    background: url('../images/arrow.png') no-repeat right;
    font-family: 'Homenaje', sans-serif;
    font-size: 23px;
    line-height: 30px;
    color: #868686;
    padding: 0 10px 0 0;
    border: 1px solid transparent;
}

.navsite a:hover {
    color: #ccc;
    line-height: 30px;
    text-shadow: 2px 2px #000 ;

}

header .container p.title {
    margin: 60px 0 0 0;
    padding: 0;
    text-align: center;
    clear: both;
    font-family: 'Homenaje', sans-serif;
    color: #fff;
    font-size: 52px;
    line-height: 70px;
}

header .container p.local  {
    margin: 30px 0 0 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #868686;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

header .container a.buy {
    width: 376px;
    height: 56px;
    display: block;
    line-height: 50px;
    text-align: center;
    margin: 40px auto 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    background: url('../images/btn-buy.png') no-repeat center top;
    text-transform: uppercase;
}

header a.buy:hover {
    background: url('../images/btn-buy.png') no-repeat center bottom;
}

header .container p.price {
    margin: 10px 0 0;
    text-align: center;
    font: bold 20px 'Open Sans',sans-serif;
    color: #868686;
}

span.big { font-size: 63px; text-transform: uppercase; display: block;}

.clear { clear: both; }
/* -----------------------------------------
   SOBRE
----------------------------------------- */

div.sobre {
    background: url('../images/about.png') no-repeat center;
    height: 812px;
    margin: -105px 0 0 0;
    padding: 100px 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.sobre .container {
    width: 990px;
    margin: 0 auto 0 auto;
}

div.sobre h2 {
    margin: 0;
    font-family: Homenaje, sans-serif;
    font-size: 70px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

div.sobre h3 {
    margin: 5px 0 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 28px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

div.sobre p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
}


/* -----------------------------------------
   Palestras
----------------------------------------- */

div.palestras {
    padding: 100px 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.palestras .container {
    width: 990px;
    margin: 0 auto 0 auto;
}


div.palestras h2 {
    margin: 0;
    font-family: Homenaje, sans-serif;
    font-size: 70px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

div.palestras h3 {
    margin: 5px 0 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 28px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

div.palestras hr {
    border: none;
    background-color: #f0f0f0;
    height: 7px;
    margin: 10px 0 10px 0;
}

div.palestras .item {
    vertical-align: top;
    border-bottom: 7px solid #f0f0f0;
    padding: 43px 0 43px 0;
}

div.palestras .item figure {
    display: inline-block;
    float: left;
    max-width: 200px;
    max-height: 200px;
}

div.palestras .item figure img {


}

div.palestras .item .data {
    display: inline-block;
    width: 700px;
    margin: 0 0 0 24px;
    min-height: 190px;
}

div.palestras .item .data h2 {
    margin: 0;
    display: inline-block;
    font-size: 32px;
    font-family: 'Homenaje', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

div.palestras .item .data .hour {
    position: relative;
    color: #f4b200;
    margin-right: 10px;
    padding-right: 10px;
}

div.palestras .item .data .hour:after {
    content: "";
    position: absolute;
    right: -3px;
    top: 7px;
    height: 3px;
    width: 3px;
    background: #f4b200;
}

div.palestras .item .data h3 {
    margin: 7px 0 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
}

div.palestras .item .data p {
    margin: 25px 0 0 0;
    clear:both;
    font: 15px/25px "Open Sans",sans-serif;
    color: #444;
}

/* -----------------------------------------
   Local
----------------------------------------- */

div.local {
    padding: 100px 0;
    background-image: url('../images/bg-local.jpg');

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

div.local .container {
    width: 990px;
    margin: 0 auto 0 auto;
}

div.local h2 {
    margin: 0;
    font-family: Homenaje, sans-serif;
    font-size: 70px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

div.local h3 {
    margin: 5px 0 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
div.local .map { text-align: right; }
div.local .map a {
    color: #868686;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
}

div.local a:hover {
    color: #000;
    background: #ffd400;
    text-decoration: none;
}

div.local p {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    margin: 24px 0 0;
}

div.local p a {
    color: #ffd400;
}



/* -----------------------------------------
   patrocinadores
----------------------------------------- */

div.patrocinadores {
    padding: 100px 0 145px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.patrocinadores .container {
    width: 990px;
    margin: 0 auto 0 auto;
    text-align: center;
}

div.patrocinadores h2 {
    margin: 0 0 50px;
    font-family: Homenaje, sans-serif;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: normal;
}



/* -----------------------------------------
   footer
----------------------------------------- */

footer {
    margin: -65px 0 0 0;
    padding: 100px 0 0 0;
    background: url('../images/top-footer.png') no-repeat center top;
}

footer .yellow {
    padding-bottom: 15px;
    background: #ffd400;
}
footer .container {
    width: 990px;
    margin: 0 auto 0 auto;
}

footer h2 {
    margin: 0;
    font-family: "Homenaje", sans-serif;
    font-size: 70px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

footer h3 {
    margin: 5px 0 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 28px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

footer form {
    margin-bottom: 30px;
}

footer form input {
    width: 389px  !important;;
    height: 24px !important;
    padding:28px !important;
    color: #000 !important;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    border: none  !important;
    display: inline-block;
}

footer form textarea {
    width: 490px  !important;;
    height: 125px !important;
    padding:30px !important;
    color: #000 !important;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    border: none  !important;
    float:right;
}

footer .button {
    background: none repeat scroll 0 0 #111;
    border: 1px solid #000;
}

footer .button:hover {
    background: none repeat scroll 0 0 #555;
    border: 1px solid #444;
}

footer .align-right { text-align: right; display: inline-block; width: 96%;}

footer .align-right p { display: inline; text-align: right;}

footer a.buy {
    width: 376px;
    height: 56px;
    display: block;
    line-height: 50px;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    background: url('../images/btn-buy.png') no-repeat center top;
    text-transform: uppercase;
}

footer a.buy:hover {
    background: url('../images/btn-buy.png') no-repeat center bottom;
}

footer .socialmidias {
    margin: 30px 0 0 ;
    border-top: 4px solid #ffea20;
    border-bottom: 4px solid #ffea20;
    padding: 10px 0 10px 0;
    height: 71px;
}
footer .social {
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    width: 30%;
    margin-left: 10%;
    line-height: 25px;
}

footer .socialmidias a.ico {
    display: block;
    height: 47px;
    width: 47px;
    background: url('../images/social.png');
    text-indent: -9999px;
    float: left;
    margin: 0 5px 0 0;
}

footer .socialmidias a.twitter {
    background-position: right;
}

footer .socialmidias a.facebook {
    background-position: left;
}
footer .add_this {
    width: 370px;
}

footer .btns-share {
    margin-top: 15px;
}

footer .creditos-site {
    text-align: center;
    font: 13px "Open Sans";
    margin-top: 28px;
}

footer .creditos-site a {
    color: #000;
    text-decoration: underline;
}

footer .creditos-site a:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}



/* -----------------------------------------
   btn topo
----------------------------------------- */
.btn-topo {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 75px;
    height: 55px;
}

.btn-topo a {
    display: block;
    width: 100%;
    height:100%;
    background: rgba(168,168,168,0.8) url('../images/btn-topo.png') no-repeat center;
    text-indent: -9999px;
}

.btn-topo a:hover {
    background: #FFD400 url('../images/btn-topo.png') no-repeat center;
}